.root {
	-fx-background-color: #996633;
}

.hbox {
	-fx-spacing: 5px;
}

.vbox {
	-fx-spacing: 5px;
}

.menu-bar {
	-fx-background-color: #4c331a;
}

.label {
	-fx-text-fill: #ecd9c6;
}

.menu:hover, .menu-item:hover, .menu:showing, .menu-item:showing, .menu-item:focused {
	-fx-background-color: #c68c53;
}

.context-menu {
	-fx-background-color: #4c331a;
}

.tab-header-background {
	-fx-background-color: #4c331a;
}

.tab-header-area {
	-fx-padding: 0;
}

.tab {
	-fx-background-color: #996633;
	-fx-focus-color: transparent;
	-fx-background-radius: 0;
}

.tab:selected {
	-fx-background-color: #ac7339;
}

.tab-label {
	-fx-font-weight: bold;
	-fx-text-fill: #ecd9c6;
}

.list-view, .table-view {
	-fx-background-color: #ecd9c6;
}

.button {
	-fx-background-color: #4c331a;
	-fx-font-weight: bold;
	-fx-text-fill: #ecd9c6;
	-fx-background-radius: 0;
	-fx-pref-width: 80;
	-fx-text-overrun: ellipsis;
}

.button:hover {
	-fx-background-color: #c68c53;
}

#option-label {
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-text-fill: #4c331a;
}

.separator .line {
	-fx-background-color: #4c331a;
	-fx-border-color: transparent;
}